:root {
    --input-form-submit-bg-color : #fe6102;
    --input-form-submit-color : #ffffff;
    --input-form-submit-disabled-bg-color : #ebebeb;
    --input-form-submit-disabled-color : #000000;
    --input-form-submit-hover-bg-color : #f69049;
    --input-form-submit-disabled-hover-bg-color : #ebebeb;
    --input-form-type-text-border-color : #525199;
    --input-form-type-text-focus-color: #cbcae0;
}