/*TODO: Add css variables*/

form {
    padding: 0 4px;
}

input[type=submit] {
    display: inline-block;
    background-color: var(--input-form-submit-bg-color,#fe6102);
    color: var(--input-form-submit-color, white);
    font-weight: 500;
    padding: 16px 20px 13px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

input[type="submit"]:disabled {
    background-color: var(--input-form-submit-disabled-bg-color,#ebebeb);
    color: var(--input-form-submit-disabled-color , black);
    cursor: not-allowed;
}

input[type=submit]:focus, input[type=submit]:hover {
    background-color: var(--input-form-submit-hover-bg-color , #f69049);
}

input[type="submit"]:disabled:hover {
    background-color:  var(--input-form-submit-disabled-hover-bg-color, #ebebeb);
    color: var(--input-form-submit-disabled-color, black);
    cursor: not-allowed;
}

/* This applies from 540px onwards*/
@media (max-width: 540px) {
    sjs-input-component > div > input {
    max-width: 120px;
  }
}

@media (max-width: 404px) {
    input[type=submit] {
        width : 100%;
        margin-top: 5px;
    }
}
